<div>
	<div style="padding:20px;">
		<div style='float:left;'>
			<div><a href='http://evibe.in'><img src='http://gallery.evibe.in/img/logo/logo_evibe.png'
					alt='evibe.in'></a></div>
		</div>
		<div style='float:right;'>
			<div><i>Date:</i> @date@</div>
			<div style="padding-top:4px;"><i>Phone:</i> @evibePhone@</div>
		</div>
		<div style='clear:both;'></div>
	</div>
	<div style="padding:4px; background:#008000; text-align:center;">
		<h2 style="color:#FFFFFF">
			<img src='http://gallery.evibe.in/main/img/icons/check.png' height="20px" width="20px"
					alt='Success'> Payment Success (#@bookingId@)
		</h2>
	</div>
	<div style="font-size:14px;line-height:22px; padding: 5px 30px 20px; background-color:#FFFFFF;">
		<div style="margin-top:30px; text-align:center; ">
			<div style="font-size:16px;margin:15px 0;">Dear @custName@,</div>
			<div style="margin:15px 0;">We have received your payment of
				<b>Rs. @advancePaid@</b> for @bookingInfo@.
			</div>
			<div style="margin:15px 0;">
				Check In: @checkInDate@ (@checkInTime@ - @checkOutTime@)
			</div>
			<h3 style="font-weight:bold;color:#444444;text-decoration:underline;margin-top:20px;margin-bottom:5px;">Important:</h3>
			<div style="margin:15px 0;">
				This is
				<span style="background: #F4FF97;">NOT BOOKING CONFIRMATION</span>. We will check the availability and confirm your booking within next 4 business hours.
			</div>
		</div>
		<div style="margin-top:15px;">
			In case your package is not available for your check-in date, we will refund the total amount you paid immediately (or) help you locate closest
			alternate options based on your choice. Please check FAQ section below.
		</div>
		<div style="margin:15px 0;">
			<div>Best Regards,</div>
			<div>Team Evibe</div>
		</div>
	</div>
</div>