<div style="background-color:#FFFFFF;padding:20px;margin-top:30px;">
	<div style="color:#EF3E75;text-transform:uppercase;font-size:14px;font-weight:bold;">Order Details</div>

	<div style="margin-top:15px;">
		<b>Order Id: </b><span> #@bookingId@</span>
	</div>
	<div style="margin-top:15px;">
		<b>Cake: </b><span> @bookingInfo@</span>
	</div>
	<div style="margin-top:15px;">
		<b>Weight: </b><span> @cakeWeight@</span>
	</div>
	@cakeExtraField@
</div>