<div>
	<div style="padding:20px;">
		<div style='float:left;'>
			<div><a href='http://evibe.in'><img src='http://gallery.evibe.in/img/logo/logo_evibe.png'
					alt='evibe.in'></a></div>
		</div>
		<div style='float:right;'>
			<div><i>Date:</i> @date@</div>
			<div style="padding-top:4px;"><i>Phone:</i> @evibePhone@</div>
		</div>
		<div style='clear:both;'></div>
	</div>
	<div style="padding:4px;background:#BF423C;text-align:center;">
		<h2 style="color:#FFFFFF">
			<img src='http://gallery.evibe.in/main/img/icons/check.png' height="20px" width="20px"
					alt='Success'> Booking Cancelled (#@bookingId@)
		</h2>
	</div>
	<div style="font-size:14px;line-height:22px; padding:5px 30px 20px;background-color:#FFFFFF;">
		<div style="margin-top:30px; text-align:center; ">
			<div style="font-size:16px;margin:15px 0;">Dear Manager,</div>
			<div style="margin:15px 0;">
				Based on your consent, we have cancelled the booking order for @checkInDate@ for the package @bookingInfo@.
			</div>
			<div style="margin:15px auto;">
				Should you have any queries, please reply to this email. We will respond to you at the earliest.
			</div>
		</div>
		<div style="margin:15px 0;text-align:left;">
			@salutation@
		</div>
	</div>
</div>

