<div style="background-color:#FFFFFF;padding:0 20px 20px 20px;">
	<div style="color:#EF3E75;font-size:14px;font-weight:bold;">Provider Details</div>
	<ul style="display:table;table-layout:fixed;padding:0;margin:10px 0 0 0;list-style:none;width:100%;">
		<li style="display:table-cell;">
			<div><b>Name</b></div>
			<div>@proName@</div>
		</li>
		<li style="display:table-cell;">
			<div><b>Phone</b></div>
			<div>@proPhone@</div>
		</li>
	</ul>
	<div style="margin-top:3px;font-size:12px;">
		<i>Provider will ensure your order is delivered on time and executed as per the booking details above.</i>
	</div>
</div>