<div style="background-color:#FFFFFF;padding:20px;margin-top:30px;">
	<div style="color:#EF3E75;text-transform:uppercase;font-size:14px;font-weight:bold;">Booking Information</div>
	<ul style="display:table;table-layout:fixed;padding:0;margin:10px 0 0 0;list-style:none;width:100%;">
		<li style="display:table-cell;">
			<div><b>Booking ID</b></div>
			<div>@bookingId@</div>
		</li>
		<li style="display:table-cell;">
			<div><b>Booking Amount</b></div>
			<div>Rs. @bookAmt@</div>
		</li>
		<li style="display:table-cell;">
			<div><b>Advance Paid</b></div>
			<div>Rs. @advPd@</div>
		</li>
		<li style="display:table-cell;">
			<div><b>Balance Amount</b></div>
			<div>Rs. @balAmt@</div>
		</li>
	</ul>
	<div style="margin-top:15px;">
		<b>Package: </b><span> @bookingInfo@</span>
	</div>
	<div style="margin-top:15px;">
		<b>No of Guests: </b><span> @guestsCount@</span>
	</div>
	<div style="margin-top:15px;">
		<b>Occasion: </b><span> @eventName@</span>
	</div>
	<div style="margin-top:15px;">
		<b>Special Notes* (Needs approval if not already discussed): </b><span> @splNotes@</span>
	</div>
	<ul style="display:table;table-layout:fixed;padding:0;margin:10px 0 0 0;list-style:none;width:100%;">
		<li style="display:table-cell;">
			<div><b>Party Date:</b></div>
			<div>@checkInDate@</div>
		</li>
		<li style="display:table-cell;">
			<div><b>Party Time:</b></div>
			<div>@checkInTime@</div>
		</li>
	</ul>
</div>
<div style="background-color:#FFFFFF;padding:20px;margin-top:30px;">
	<div style="color:#EF3E75;text-transform:uppercase;font-size:14px;font-weight:bold;">Delivery Details</div>

	<div style="margin-top:15px;">
		<div><b>Location</b></div>
		<div>@location@</div>
	</div>
	<div style="margin-top:15px;">
		<div><b>Full Address</b></div>
		<div>@venueFullAddress@</div>
	</div>
	<div style="margin-top:15px;">
		<div><b>Landmark</b></div>
		<div>@landMark@</div>
	</div>
	<div style="margin-top:15px;">
		<div><b>Google Maps</b></div>
		<div><a href="@venueMaps@" target="_blank">@venueMaps@</a></div>
	</div>
</div>
<div style="background-color:#FFFFFF;padding:20px;margin-top:30px;">
	<div style="color:#EF3E75;text-transform:uppercase;font-size:14px;font-weight:bold;">Provider Details</div>
	<ul style="display:table;table-layout:fixed;padding:0;margin:10px 0 0 0;list-style:none;width:100%;">
		<li style="display:table-cell;">
			<div><b>Provider Name</b></div>
			<div>@coordinatorName@</div>
		</li>
		<li style="display:table-cell;">
			<div><b>Provider Phone</b></div>
			<div>@coordinatorPhone@</div>
		</li>
		<li style="display:table-cell;">
			<div><b>Alt. Phone</b></div>
			<div>@coordinatorAltPhone@</div>
		</li>
	</ul>
</div>
