<div>
	<div style="padding:20px;">
		<div style='float:left;'>
			<div><a href='http://evibe.in'><img src='http://gallery.evibe.in/img/logo/logo_evibe.png'
					alt='evibe.in'></a></div>
		</div>
		<div style='float:right;'>
			<div><i>Date:</i> @date@</div>
			<div style="padding-top:4px;"><i>Phone:</i> @evibePhone@</div>
		</div>
		<div style='clear:both;'></div>
	</div>
	<div style="padding:4px; background:#008000; text-align:center;">
		<h2 style="color:#FFFFFF">
			<img src='http://gallery.evibe.in/main/img/icons/check.png' height="20px" width="20px"
					alt='Success'> Booking Confirmed
		</h2>
	</div>
	<div style="font-size:14px;line-height:22px; padding: 5px 30px 20px; background-color:#FFFFFF;">
		<div style="margin-top:30px; text-align:center; ">
			<div style="font-size:18px;  margin:15px 0;">Dear @custName@,</div>
			<div style="font-size:15px; width:90%; margin:15px 0;">
				We are pleased to inform that your booking for @checkInDate@ has been confirmed with Evibe.
			</div>
			<div style="width:90%; margin:15px auto;">
				Please check below for complete booking details. Should have any queries, please reply to this email. We will
				respond to you at the earliest.
			</div>
			@trackMyOrder@
		</div>
		<div style="margin-top:15px;">
			Thanks for choosing evibe.in to book your party. We wish you a wonderful and memorable party.
		</div>
		<div style="margin:15px 0;">
			<div>Best Regards,</div>
			<div>Team Evibe.in</div>
		</div>
	</div>
</div>